* {
  /* border: 1px solid blue; */
  /* margin: 3px; */
  /* font-family: "Tohoma", "Arial", "sans serif"; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 250%;
}
h2 {
  font-size: 150%;
  font-weight: normal;
}

header {
  text-align: center;
  border-bottom: 3px gray solid;
  padding: 20px;
}

header h1 {
  padding: 10px;
}

/* Display flex to center items horizontally */
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

/* All button stylings */
button {
  border: none;
  background: green;
  color: whitesmoke;
  border-radius: 2px;
  padding: 8px;
  margin: auto;
}

button.task-delete {
  background: red;
  border: 1px white solid;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* New background color on hover */
main button:hover {
  background-color: #2980b9;
}

main #tasks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Container Styling for the container of the 3 tasks */
.task-container {
  padding: 20px 10px 0 10px;
  width: 100%;
  max-width: 300px;
}

.task-container h2 {
  text-align: center;
}

/* Styling for each task*/
.taskbox {
  height: 500px;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(228, 228, 228);
}

.taskbox div {
  display: flex;
  flex-direction: column;
}

.task {
  text-align: center;
  margin: 10px;
  color: rgb(228, 228, 228);
  background-color: red;
  border-radius: 5px;
}

.task-title {
  border-bottom: 1px solid gray;
  background-color: rgb(200, 0, 0);
  padding: 10px;
}

.task-content {
  padding: 10px;
}
.task-date {
  padding: 10px;
}
